@font-face
{
    font-family: myFont;
    src: url('./resources/INVASION2000.ttf');
}

body{
    background-color: #000012;
}

div{
    width: 100%
}

canvas{
    display: block;
    margin: 100px auto;
}